
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(220, 220, 220, 1.0);
}

.navbar_bg{
  background-color: rgba(0, 109, 33, 0.5);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.over_img{
  z-index: 999;
  margin-top: -210px;
  margin-left: 50px;
}

.card-img-overlay{
  padding-top: 90px;
  opacity: 0;
  transition: 0.7s ease-in-out;
  background: linear-gradient(180deg, rgba(2,82,1,1) 0%, rgba(0,158,41,1) 52%, rgba(2,82,1,1) 100%);
}

.card-img-overlay:hover{
  opacity: .7;
}